@charset "UTF-8";


@media screen and (max-width: 430px){
    .container {
        display: flex;
        width: 100%;
    }

    .lado {
        width: 30%;
        height: 100%;
    }

    .lado > img {
        width: 79%;
        height: 100%;
    }

    .form {
        width: 30%;
        height: 100%;
    }
}
