@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 768px) {
    .container {
        display: flex;
        width: 100vw;
    }

    .lado {
        width: 33%;
        height: 80%;
    }

    .lado > img {
        width: 100%;
        height: 100%;
    }

    .form {
        width: 30%;
        height: 80%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .container {
        display: flex;
        width: 80vw;
    }

    .lado {
        width: 100%;
        height: 100%;
    }

    .lado > img {
        width: 100%;
        height: 100%
    }    

    .form {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        display: flex;
        width: 1020px;
    }

    .lado {
        width: 100%;
        height: 100%;
    }

    .lado > img {
        width: 100%;
        height: 100%
    }    

    .form {
        width: 100%;
        height: 100%;
    }
}



